<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Spor økonomi</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nithusan.SporOkonomi.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sporokonomi</string>
			</array>
		</dict>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>Bruk Face ID for å låse opp appen.</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>sb_publishable_oEiVNV89KMbag_-jRoCpvw_pQNKoAPT</string>
	<key>SUPABASE_REDIRECT_HOST</key>
	<string>auth-callback</string>
	<key>SUPABASE_REDIRECT_SCHEME</key>
	<string>sporokonomi</string>
	<key>SUPABASE_URL</key>
	<string>https://mxgjkrgikgfqccyzubxv.supabase.co</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
